# Python
__pycache__/
*.py[cod]
*.log

# Virtual Environment
.venv/

# SQLite (agar yuklamoqchi bo‘lmasangiz)
db.sqlite3

# Django static
staticfiles/
media/

# Mac system files
.DS_Store

# Docker build files
*.pid
